/*navbar*/
/* Estilos para la navbar lateral */
#sidebar {
  width: 60px; /* Ancho inicial reducido para mostrar solo una línea */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-x: hidden;
  padding-top: 200px;
  background-color: #000;
  transition: width 0.3s ease-in-out; /* Transición para animar el ancho */
}

#sidebar:hover {
  width: 150px; /* Ancho aumentado para mostrar el contenido completo al pasar el cursor por encima */
}

#sidebar ul {
  padding: 0;
  margin-top: 0; /* Elimina el margen superior */
}

#sidebar ul li {
  list-style-type: none;
}

#sidebar ul li a {
  display: block;
  color: transparent; /* Color de texto transparente */
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out; /* Transición para animar el color de fondo */
}

#sidebar ul li a:hover {
  background-color: #f90;
  color: #fff; /* Cambia el color de texto al pasar el cursor por encima */
}

#sidebar ul li a i {
  color: #fff; /* Color de los íconos en blanco */
}

#sidebar:hover ul li a {
  color: #fff; /* Muestra el texto al pasar el cursor por encima */
}

#sidebar ul li:last-child a {
  margin-bottom: 0; /* Elimina el margen inferior del último elemento */
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease-in-out; /* Transición para animar la aparición del texto */
}

#sidebar:hover .logo {
  opacity: 1; /* Muestra el texto al pasar el cursor por encima del sidebar */
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#sidebar ul li:last-child {
  margin-top: auto; /* Alinea el último elemento en la parte inferior */
}

/*fin navbar*/

/*footer*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  flex: 1;
}

#sticky-footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

#sticky-footer .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#sticky-footer .footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sticky-footer .footer-nav li {
  display: inline-block;
  margin-right: 15px;
}

#sticky-footer .footer-nav li:last-child {
  margin-right: 0;
}

#sticky-footer .footer-nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

#sticky-footer .footer-nav a:hover {
  color: #f90;
}

#sticky-footer .terms {
  text-align: center;
}

#sticky-footer .terms p {
  margin: 0;
}

/*fin footer footer*/

